        <!-- Main Product Image -->
        <div class="relative border border-[color:var(--color-brand-light)] overflow-hidden rounded-lg">
          <img
            id="main-product-image"
            src="{{ product.get_image_url|default:'/static/images/placeholder.webp' }}"
            alt="product detail for {{ product.title }}"
            class="block w-full h-full object-contain  transition duration-300" width="600" height="800" loading="lazy"
          />
        </div>

        <!-- Thumbnails -->
        <div class="flex mt-4 gap-4 justify-center">
          <img
            src="{{ product.get_image_url|default:'/static/images/placeholder.webp' }}"
            data-src="{{ product.get_image_url|default:'/static/images/placeholder.webp' }}"
            alt="product title for {{ product.title }}"
            class="w-20 h-20 object-cover border-2 border-[color:var(--color-brand-primary)] rounded hover:shadow-md cursor-pointer product-thumbnail active-thumbnail"
          />
          {% for img in product.images.all %}
          <img
            src="{{ img.image.url }}"
            data-src="{{ img.image.url }}"
            alt="{{ img.alt_text|default:'Additional product image' }}"
            class="w-20 h-20 object-cover border border-[color:var(--color-brand-accent)] rounded hover:shadow-md cursor-pointer product-thumbnail"
          />
          {% endfor %}
        </div>
